.profile {
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: 120px auto 150px;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .profile {
    padding: 42px 19px 0;
    grid-template-columns: 1fr;
    row-gap: 26px;
    justify-items: center;
  }
}