.form__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-top: 15px;
}

@media screen and (max-width: 320px) {
  .form__link {
    padding-top: 20px;
  }
}