.popup__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 8px;
}

@media screen and (max-width: 618px) {
  .popup__container {
    grid-template-columns: auto;
    row-gap: 16px;
  }
}